@model GottaCrowWebUI.ViewModels.HomePageViewModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
</head>
<body>
    <h1>Welcome</h1>
    <h3>@Model.CurrentGreeting</h3>
    <table>
        @foreach (var activity in Model.JobSearchActivities)
        {
            <tr>
                <td>
                    @Html.ActionLink(activity.Id.ToString(), "Details", new { id = activity.Id })
                </td>
                <td>@activity.HappenedOn</td>
                <td>@activity.ActivityType</td>
                <td>@activity.Contact.Person.FullName</td>
            </tr>

        }
    </table>
</body>
</html>
